#container{
  width: 900px;
}

.jumbotron{
  width: 100%;
  margin: 0;
  position: relative;
}

.overlay{
  position: absolute;
  top: 20%;
  width: 100%;
  background: #000;
  opacity: .7;
}

.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p{
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1.25em;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 2em;
  font-weight: 700;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figcaption{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.pquote{
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  background-color: red;
  color: white;
  padding: 20px 0px 20px 50px;
  margin: 10px 0px 10px 0px;
}

.attribution{
  font-size: 0.5em;
}

.col-md-6{
  text-align: center;
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
