#container{
  width: 900px;
}

.topper{
  width: 100%;
  margin: 0 auto;
  background-color: red;
  padding: 300px;
  background-image: linear-gradient(yellow, red);
}

.headline{
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.byline{
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p{
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1.25em;
}

h1{
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 4em;
  font-weight: 700;
}

h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

@media(max-width:700px){
  h2{
    font-size: 2em;
  }

  h3{
    font-size: 1em;
  }

  .topper{
    width: 100%;
  }
}


h4{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1em;
  margin: 0 auto;
  padding: 5px 0px 5px 0px;
  background-color: black;
  color: white;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figcaption{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  font-size: 0.75em;
}

.pquote{
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  background-color: red;
  color: white;
  padding: 20px 0px 20px 50px;
  margin: 10px 0px 10px 0px;
}

.attribution{
  font-size: 0.5em;
}

.col-md-6{
  text-align: center;
}

.sidebar{
  background-color: red;
  color: white;
  padding: 30px;
  margin: 20px 0px 20px 0px;
  font-family: 'Montserrat', sans-serif;
}

.source{
  font-size: 1em;
  text-align: center;
}

.opening{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
