/*This was finished on December 13, 2020 by Julia Arbutus for JOUR652.*/

/*top banner*/
.hero-image{
  width: 100%;
}

/*container div for all text*/
#container{
  width: 900px;
}

/*after-headline explainer and byline*/
#intro{
  width: 60%;
}

/*all text*/
p{
  font-family: Georgia, serif;
  line-height: 180%;
  width: 100%;
  font-size: 1.2em;
}

/*explainer after headline*/
h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  width: 70%;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 1063px){
  h2{
    font-size: 1em;
  }
}

/*chapter titles*/
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 5px;
}

/*byline format*/
h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding-bottom: 30px;
}

ul{
  text-transform: capitalize;
  margin: 0 auto;
  font-family: 'Montserrat,' sans-serif;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 180%;
}

/*image and caption format*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

figcaption{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*graph format*/
.col-md-6{
  text-align: center;
}

/*pullquote format and media query*/
.pquote{
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  background-color: #21D4F1;
  color: white;
  padding: 20px 50px 20px 50px;
  margin: 10px 10px 10px 10px;
}

@media only screen and (max-width: 1063px){
  .pquote{
    font-size: 1.5em;
    }
}

/*pullquote attribution format*/
.attribution{
  font-size: 0.5em;
}

/*footer format*/
#footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*link colors*/
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}
